body {
  background-color:#114D72;
}
.inclinado {
  transform: rotate(-4deg);
  height: 200px;
  width: 110%;
  background-color:white;
  position: relative;
  bottom: 160px;
  right: 10px;
  z-index: -1;
}
.nav-item {
  font-size: 1.5rem;
}