body {
  background-color:#114D72;
}
img {
  width: 100%;
  height: auto;
}
hr {
  margin: 4rem;
}

.inclinado {
  transform: rotate(-4deg);
  height: 200px;
  width: 110%;
  background-color:rgb(255, 255, 255);
  position: relative;
  bottom: 135px;
  right: 9px;
  z-index: -1;
  margin-bottom: 5%;
}
.nav-item {
  font-size: 1.6rem;
}
.navbar {
  padding-left: 20%;
  padding-top: 5%;
  padding-right: 5%;
}
#root {
  width: 100vw;
  overflow: hidden;
}

.brand {

  position: fixed;
  margin-top: 1%;
  margin-left: 3%;
  border-radius: 50%;
  width: 15%;
  height: auto;
  z-index: 1;

}

.carousel-caption {
  text-align: left;
}

.text-tag {
  background-color: rgba(17, 77, 114, 0.507);
  padding: 2rem;
  margin-top: 30%;
  margin-right: 15%;
}

.card {
  border: none;
  border-radius: 0;
}