body {
  background-color:#114D72;
  font-family: 'Raleway', sans-serif;
}
img {
  width: 100%;
  height: auto;
}
hr {
  margin: 4rem;
}

/* .inclinado {
  transform: rotate(-4deg);
  height: 200px;
  width: 110%;
  background-color:rgb(255, 255, 255);
  position: relative;
  bottom: 135px;
  right: 9px;
  z-index: -1;
  margin-bottom: 5%;
  filter: drop-shadow(0 0 15px rgb(0, 0, 0, 1));
} */
.nav-link {
  font-size: 1.2rem;
  color: lightgray;
}

#root {
  width: 100vw;
  overflow: hidden;
}

.brand {

  position: fixed;
  margin-top: 1%;
  margin-left: 3%;
  border-radius: 50%;
  width: 15%;
  height: auto;
  z-index: 2;
  filter: drop-shadow(0 0 15px rgb(0, 0, 0, 0.3));

}

.carousel-caption {
  text-align: left;
}

.text-tag {
  background-color: rgba(17, 77, 114, 0.507);
  /* padding: 2rem; */
  /* margin-top: 30%;
  margin-left: 15%; */

}

/* .card {
  border: none;
  border-radius: 0;
  z-index: 1;

} */

.footer {

  filter: drop-shadow(0 0 15px rgb(0, 0, 0, 0.5));
}


header .intro-text {
	padding-top: 250px;
	padding-bottom: 150px;
	text-align: center;
}